Flask
psycopg2-binary
fuzzywuzzy
Flask-SQLAlchemy
opentelemetry-sdk == 1.24.0
opentelemetry-api == 1.24.0
opentelemetry-instrumentation
opentelemetry-instrumentation-flask
opentelemetry-instrumentation-sqlalchemy
opentelemetry-exporter-otlp
opentelemetry-instrumentation-psycopg2
python-dotenv