<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Products</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <nav>
        <ul>
            <li><a href="{{ url_for('index') }}">Home</a></li>
            <li><a href="{{ url_for('blog') }}">Blog</a></li>
            <li><a href="{{ url_for('products') }}">Products</a></li>
        </ul>
    </nav>
    <h1>Products</h1>
    <p>Check out our products here!</p>
</body>
</html>
