<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recycling Response</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <h1>Recycling Response</h1>
    <p>{{ response }}</p>
    <!-- Add class "submit-button" to link so it inherits styles from styles.css -->
    <a href="{{ url_for('index') }}" class="submit-button">Check Another Item!</a>

    <style>
        /* Specific styles to make link look like a button */
        .submit-button {
            padding: 10px;
            margin: 5px 0;
            border: 1px solid #9CAFAA;
            border-radius: 4px;
            display: block;
            width: 95%;
            background-color: #9CAFAA;
            color: white;
            text-align: center;
            text-decoration: none;
        }

        .submit-button:hover {
            background-color: #7a918d;
        }
    </style>
</body>
</html>
